<!DOCTYPE html>
<html>

<head>
    <title>Сокращатель</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
    $(function () {
        $('#submitButton').click(function () {
            $.ajax({
                type: "POST",
                url: "/makeshort/",
                data: {
                    'url': $('#url').val(),
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: returnSuccess,
                dataType: 'json'
            });
        });
    });

    function returnSuccess(data, textStatus, jqXHR) {
        if (data.url) {
            $('#url-result').text(data.url).css({ 'color': 'green' });
            $('#url').val("");
        } else {
            $('#url-result').text("Введите ссылку").css({ 'color': 'red' });
        }

    }
</script>

<style>
    #content {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    a:hover {
        text-decoration: none;
    }

    header {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 30px;
        padding-bottom: 10px;
        clear: both;
    }

    #wrap {
        margin: 15% auto;
        padding: 10px;
        text-align: center;
        width: 40%;
    }

    #url-result {
        color: dimgrey;
        display: hidden;
    }
</style>

<body>
    <div id="wrap">
        <header>
            <h1><a href="{% url 'index' %}">Сокращатель 3000</a></h1>
        </header>

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>

</html>