{% extends "base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        {% csrf_token %}
        <div style="width: 75%; float: left;">
            <input type="text" name="url" id="url" class="form-control" placeholder="https://github.com/w0rng">
        </div>

        <button id="submitButton" class="btn btn-primary">Сократить</button></p>

    </div>
    <hr>
    <div class="panel-footer"><span id="url-result">Введите URL в поле выше и нажмите сократить!</span></div>
</div>
{% endblock %}